/* Global style*/
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(226, 226, 226);
}

/* Imposto lo stile dell'Header */
header{
  background-color: #333;
  color: white;
  padding: 20px ;
  text-align: left;
}
header h1{
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
}
nav ul li{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ababab;
}

/* Main */
main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  align-items: center;

}
h2, h3 {
  color: #333;
}

/* Style del catalogo */
.catalogo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}
.catalogo-table , .catalogo-table th, .catalogo-table td {
  border: 1px solid #ddd;
}
.catalogo-table th, .catalogo-table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
.catalogo-table th {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
}
.catalogo-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.catalogo-table tr:hover {
  background-color: #f1f1f1;
}
.catalogo-table img {
  max-width: 100px;
  height: auto;
}
.catalogo-table form {
  display: inline;
  margin: 0;
  padding: 0;
}
/* Pulsante "Rimuovi" dentro la tabella */
.catalogo-table form button {
  background-color: #187277;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  box-shadow: none;
  transition: none;
}
.catalogo-table form button:hover {
  background-color: #721c24;
  color: white;
}
/* Pulsante "modifica quantità" dentro la tabella (simile al pulsante Rimuovi) */
.catalogo-table .btn-operazioni {
  background-color: #5cb85c; /* Colore di sfondo del pulsante */
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  box-shadow: none; /* Rimuove l'ombra */
  transition: none; /* Disabilita la transizione */
}
/* Hover - Cambia colore di sfondo al passaggio del mouse */
.catalogo-table .btn-operazioni:hover {
  background-color: #31b0d5; /* Colore più scuro al passaggio del mouse */
  color: white;
}


/* campo di input della quantita */
.catalogo-table input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
.catalogo-table input[type="number"]:focus {
  outline: none;
  border-color: #5cb85c;
}

/* Form Style */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
  outline: none;
  border-color: #5cb85c;
}
form button {
  background-color: #187277;
  color: wheat;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: darkslategray;
}

/* Login page */
.login-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #c0c0c0;
}
h1 {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}
h2 {
  text-align: left;
  margin: 20px;
}

/* Message form */
.message{
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid red;
  color: #721c24;
  border-radius: 5px;
}
.message.error{
  background-color: #f8d7da;
  border: 1px solid red;
  color: #721c24;
}
.message.success{
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

/* Dashboard page */
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Catalog page */
.catalogo-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Pulsanti Dashboard */
.btn {
  display: inline-flex;
  padding: 20px 30px;
  background-color: #187277; /* colore sfondo */
  color: white; /* colore del testo */
  text-align: center;
  text-decoration: none; /* rimuove la sottolineatura */
  border-radius: 10px; /* bordi arrotondati */
  font-size: 18px;
  transition: background-color 0.3s ease; /* effetto passaggio mouse */
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 0;
}
.btn:hover {
  background-color: #0056b3;
}
/* pulsanti del carrello */
.btn-checkout, .btn-continua {
  background-color: #187277 ;
  color:white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.btn-checkout:hover, .btn-continua:hover {
  background-color: #0056b3;
}

/* Posiziona i pulsanti in basso a destra */
.bottom-nav {
  overflow: hidden;
  position: right;
  margin: auto;
  padding: 20px 30px;
  bottom: 25px;
  width: 100%;
}
.bottom-nav ul {
  list-style: none;
  margin: auto;
  padding: 14px 16px;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
.bottom-nav li {
  display: inline;
}
.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #187277; /* Colore del pulsante */
  transition: background-color 0.3s ease;
}
.bottom-nav a:hover {
  background-color: #0056b3; /* Colore al passaggio del mouse */
}

/* Footer */
footer {
  text-align: center;
  background-color: #000000;
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}