/* Global style*/
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(226, 226, 226);
}

/* Imposto lo stile dell'Header */
header{
  background-color: #333;
  color: white;
  padding: 20px ;
  text-align: left;
}
header h1{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}
nav ul li{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ababab;
}

/* Main  */
main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  align-items: center;

}
h2, h3 {
  color: #333;
}


/* Style dell'elenco punti vendita */
.puntovendita-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color:#dcd9d9;
}
.puntovendita-table, .puntovendita-table th, .puntovendita-table td {
  border: 1px solid #ddd;
}
.puntovendita-table th, .puntovendita-table td {
  padding: 10px;
  text-align: left;
}
.puntovendita-table th {
  background-color: whitesmoke;
  color: #333;
}
.puntovendita-table tr:nth-child(even) {
  background-color: white;
}
.puntovendita-table:hover {
  background-color: whitesmoke;
}
.puntovendita-table img {
  max-width: 100px;
  height: auto;
}


/* Style del catalogo */
.catalogo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}
.catalogo-table , .catalogo-table th, .catalogo-table td {
  border: 1px solid #ddd;
}
.catalogo-table th, .catalogo-table td {
  padding: 10px;
  text-align: left;
}
.catalogo-table th {
  background-color: #f2f2f2;
  color: #333;
}
.catalogo-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.catalogo-table tr:hover {
  background-color: #f1f1f1;
}
.catalogo-table img {
  max-width: 100px;
  height: auto;
}

/* Form Style */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 400px;
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
    outline: none;
    border-color: #5cb85c;
}
form button {
  background-color: #187227;
  color: wheat;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #4cae4c;
}

/* Login page */
.login-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #c0c0c0;
}
h1 {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}
h2 {
  text-align: center;
  margin: 20px;
}
/* Message form */
.message{
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid red;
  color: #721c24;
  border-radius: 5px;
}
.message.error{
  background-color: #f8d7da;
  border: 1px solid red;
  color: #721c24;
}
.message.success{
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

/* Dashboard page */
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.puntovendita-container {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

/* Catalog page */
.catalogo-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
/* Posiziona i pulsanti in basso a destra */
.bottom-nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
  padding: 10px;
  border-radius: 5px;
}

.bottom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.bottom-nav li {
  display: inline;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  background-color: #007bff; /* Colore del pulsante */
  transition: background-color 0.3s ease;
}

.bottom-nav a:hover {
  background-color: #ff0000; /* Colore al passaggio del mouse */
}

/* Footer */
footer {
  text-align: center;
  background-color: #000000;
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}